<?php

declare(strict_types=1);

/*
 * ApiB4CLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ApiB4CLib\Controllers;

use ApiB4CLib\Exceptions\ApiException;
use ApiB4CLib\Models\AtualizarDescontoRequest;
use ApiB4CLib\Models\CadastrarDescontoRequest;
use Core\Request\Parameters\BodyParam;
use CoreInterfaces\Core\Request\RequestMethod;

class DescontosController extends BaseController
{
    /**
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cadastrarDesconto(): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/clientes/descontos/08113640975');

        $this->execute($_reqBuilder);
    }

    /**
     * @param CadastrarDescontoRequest $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cadastrarDesconto1(CadastrarDescontoRequest $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/clientes/descontos')
            ->parameters(BodyParam::init($body));

        $this->execute($_reqBuilder);
    }

    /**
     * @param AtualizarDescontoRequest $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function atualizarDesconto(AtualizarDescontoRequest $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/clientes/descontos/08113640975')
            ->parameters(BodyParam::init($body));

        $this->execute($_reqBuilder);
    }

    /**
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deletarDesconto(): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/clientes/descontos/08113640975');

        $this->execute($_reqBuilder);
    }
}
