<?php

declare(strict_types=1);

/*
 * ApiB4CLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ApiB4CLib\Controllers;

use ApiB4CLib\Exceptions\ApiException;
use ApiB4CLib\Models\EnviaEventosDoPedido;
use ApiB4CLib\Models\EnviaEventosDoPedidoRequest;
use ApiB4CLib\Models\ListaOsEventosDoPedido;
use Core\Request\Parameters\BodyParam;
use CoreInterfaces\Core\Request\RequestMethod;

class EventosPedidosController extends BaseController
{
    /**
     * TABELA DE STATUS
     *
     * | status | descricao |
     * | --- | --- |
     * | nao-iniciada | pedido parado |
     * | separacao | pedido em processo de separação |
     * | nota-fiscal-emitida | emissão da nota fiscal |
     * | aguardando-coleta | aguardando coleta |
     * | cancelada | pedido cancelado |
     * | transporte | pedido com processo de transporte iniciado |
     * | entregue | pedido entregue |
     * | integrado | status para notificar que o pedido foi integrado com sucesso |
     * | integrado-com-erro | status para notificar que foi integrado porém com erro nos dados integrados
     * |
     * | disponivel-para-retirada | pedido disponível para retirada |
     *
     * @param EnviaEventosDoPedidoRequest $body
     *
     * @return EnviaEventosDoPedido Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function enviaEventosDoPedido(EnviaEventosDoPedidoRequest $body): EnviaEventosDoPedido
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pedidos/eventos/398341')
            ->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(EnviaEventosDoPedido::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ListaOsEventosDoPedido Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listaOsEventosDoPedido(): ListaOsEventosDoPedido
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/pedidos/eventos/398341');

        $_resHandler = $this->responseHandler()->type(ListaOsEventosDoPedido::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
