<?php

declare(strict_types=1);

/*
 * ApiB4CLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ApiB4CLib\Controllers;

use ApiB4CLib\Exceptions\ApiException;
use ApiB4CLib\Models\AtualizarFilial;
use ApiB4CLib\Models\AtualizarFilialRequest1;
use ApiB4CLib\Models\CadastrarFilial;
use ApiB4CLib\Models\CadastrarFilialRequest1;
use ApiB4CLib\Models\ConsultaFilial;
use ApiB4CLib\Models\DeletarFilial;
use Core\Request\Parameters\BodyParam;
use CoreInterfaces\Core\Request\RequestMethod;

class FiliaisFaturamentoController extends BaseController
{
    /**
     * @param CadastrarFilialRequest1 $body
     *
     * @return CadastrarFilial Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cadastrarFilial(CadastrarFilialRequest1 $body): CadastrarFilial
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/filiais_faturamento')
            ->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CadastrarFilial::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ConsultaFilial[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function consultaFilial(): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/filiais_faturamento/1234');

        $_resHandler = $this->responseHandler()->type(ConsultaFilial::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return DeletarFilial Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deletarFilial(): DeletarFilial
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/filiais_faturamento/1234');

        $_resHandler = $this->responseHandler()->type(DeletarFilial::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param AtualizarFilialRequest1 $body
     *
     * @return AtualizarFilial Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function atualizarFilial(AtualizarFilialRequest1 $body): AtualizarFilial
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/filiais_faturamento/1234')
            ->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(AtualizarFilial::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
