<?php

declare(strict_types=1);

/*
 * ApiB4CLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ApiB4CLib\Controllers;

use ApiB4CLib\Exceptions\ApiException;
use ApiB4CLib\Models\AtualizarFilial;
use ApiB4CLib\Models\AtualizarFilialRequest;
use ApiB4CLib\Models\CadastrarFilial;
use ApiB4CLib\Models\CadastrarFilialRequest;
use ApiB4CLib\Models\ConsultaFilial;
use ApiB4CLib\Models\DeletarFilial;
use Core\Request\Parameters\BodyParam;
use CoreInterfaces\Core\Request\RequestMethod;

class FiliaisController extends BaseController
{
    /**
     * ###Adicionar filial
     *
     * *`#POST /filiais`*
     *
     * **Requisição**
     *
     *
     * *Body
     *
     * | nome | descricao | tipo | obrigatorio |
     * |------|-----------|------|----------|
     * | codigo | codigo da filial | int | sim |
     * | nome| nome da filial | int | sim |
     * | razao_social| razão social | string | nao |
     * | cnpj| CNPJ | string | nao |
     * | ie| Inscrição Estadual | string | nao |
     * | cep| CEP da filial | string | nao |
     * | endereco| endereço da filial| string | nao |
     * | numero| numero da filial | string | nao |
     * | complemento| complemento da filial | string | nao |
     * | bairro| bairro da filial | string | nao |
     * | cidade| cidade da filial | string | nao |
     * | uf| UF da filial | string | nao |
     * | email_contato| email de contato da filial | string | nao |
     * | email_vendas| email de vendas da filial | string | nao |
     * | fone| Telefone principal da filial | string | nao |
     * | fone2| Telefone da filial | string | nao |
     * | url_google_maps| URL para embed do google | string | nao |
     * | url_video_youtube| URL de apresentação da filial no youtube | string | nao |
     * | possui_estacionamento| estacionamento para clientes | string | nao |
     * | horario_atendimento| horário de funcionamento da filial| string | nao |
     * | slogan| slogan da filial | string | nao |
     * | status| status da filial [0 => inativa, 1 => ativa] | bit | nao |
     *
     *
     *
     * ***Exemplo
     *
     * ```json
     * {
     * "codigo": 1234,
     * "nome": "teste b4c nome alteracao",
     * "razao_social": "teste b4c razao social alteracao",
     * "cnpj": "123456789",
     * "ie": "321654",
     * "cep": "82320270",
     * "endereco": "luiz pelegrino toaldo",
     * "numero": "96",
     * "complemento": "casa",
     * "bairro": "santa felicidade",
     * "cidade": "curitiba",
     * "uf": "PR",
     * "email_contato": "contato@b4commerce.com.br",
     * "email_vendas": "vendas@b4commerce.com.br",
     * "fone": "4132733134",
     * "fone2": "41996381828",
     * "url_google_maps": "google maps",
     * "url_video_youtube": "video youtube",
     * "possui_estacionamento": "sim",
     * "horario_atendimento": "1 a 2",
     * "slogan": "nao tem",
     * "status": 1
     * }
     * ````
     *
     *
     * **Resposta
     *
     * | HTTP Status Code | Descricao | Resposta | json |
     * |------|-----------|----------|------------- |
     * | 201| Filial cadastrada com sucesso | mensagem | {"filial cadastrada com sucesso"}|
     * | 400 | Filial já cadastrada | mensagem | {"Código já cadastrado"} |
     * | 500 | Erro desconhecido.  | mensagem | {"erro deconhecido contate o suporte: suporte@b4commerce.
     * com.br"} |
     *
     * @param CadastrarFilialRequest $body
     *
     * @return CadastrarFilial Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cadastrarFilial(CadastrarFilialRequest $body): CadastrarFilial
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/filiais')->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(CadastrarFilial::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * ###Consultar filial
     *
     * *`#GET /filiais/{codigo}`*
     *
     * **Requisição**
     *
     * | nome | descricao | tipo | obrigatorio |
     * |------|-----------|------|----------|
     * | codigo| codigo da filial | int | sim |
     *
     *
     * **Resposta
     *
     * | HTTP Status Code | Descricao | Resposta | json |
     * |------|-----------|----------|------------- |
     * | 200| Dados da filial | mensagem | {"dados da filial"}|
     * | 404 | Filial não cadatrada cadastrada | mensagem | {"filial não cadastrada"} |
     * | 500 | Erro desconhecido.  | mensagem | {"erro deconhecido contate o suporte: suporte@b4commerce.
     * com.br"} |
     *
     * @return ConsultaFilial[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function consultaFilial(): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/filiais/123');

        $_resHandler = $this->responseHandler()->type(ConsultaFilial::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * ###Deletar filial
     *
     * *`#DELETE /filiais/{codigo}`*
     *
     * **Requisição**
     *
     * | nome | descricao | tipo | obrigatorio |
     * |------|-----------|------|----------|
     * | codigo| codigo da filial | int | sim |
     *
     *
     * **Resposta
     *
     * | HTTP Status Code | Descricao | Resposta | json |
     * |------|-----------|----------|------------- |
     * | 200| Filial removida com sucesso | mensagem | {"filial removida com sucesso"}|
     * | 404 | Filial não cadatrada cadastrada | mensagem | {"filial não cadastrada"} |
     * | 500 | Erro desconhecido.  | mensagem | {"erro deconhecido contate o suporte: suporte@b4commerce.
     * com.br"} |
     *
     * @return DeletarFilial Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deletarFilial(): DeletarFilial
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/filiais/1234');

        $_resHandler = $this->responseHandler()->type(DeletarFilial::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * ###Atualizar filial
     *
     * *`#PUT /filiais/{codigo}`*
     *
     * **Requisição**
     *
     *
     * *Body
     *
     * | nome | descricao | tipo | obrigatorio |
     * |------|-----------|------|----------|
     * | nome| nome da filial | int | nao |
     * | razao_social| razão social | string | nao |
     * | cnpj| CNPJ | string | nao |
     * | ie| Inscrição Estadual | string | nao |
     * | cep| CEP da filial | string | nao |
     * | endereco| endereço da filial| string | nao |
     * | numero| numero da filial | string | nao |
     * | complemento| complemento da filial | string | nao |
     * | bairro| bairro da filial | string | nao |
     * | cidade| cidade da filial | string | nao |
     * | uf| UF da filial | string | nao |
     * | email_contato| email de contato da filial | string | nao |
     * | email_vendas| email de vendas da filial | string | nao |
     * | fone| Telefone principal da filial | string | nao |
     * | fone2| Telefone da filial | string | nao |
     * | url_google_maps| URL para embed do google | string | nao |
     * | url_video_youtube| URL de apresentação da filial no youtube | string | nao |
     * | possui_estacionamento| estacionamento para clientes | string | nao |
     * | horario_atendimento| horário de funcionamento da filial| string | nao |
     * | slogan| slogan da filial | string | nao |
     * | status| status da filial [0 => inativa, 1 => ativa] | bit | nao |
     *
     *
     *
     * ***Exemplo
     *
     * ```json
     * {
     * "nome": "teste b4c nome alteracao",
     * "razao_social": "teste b4c razao social alteracao",
     * "cnpj": "123456789",
     * "ie": "321654",
     * "cep": "82320270",
     * "endereco": "luiz pelegrino toaldo",
     * "numero": "96",
     * "complemento": "casa",
     * "bairro": "santa felicidade",
     * "cidade": "curitiba",
     * "uf": "PR",
     * "email_contato": "contato@b4commerce.com.br",
     * "email_vendas": "vendas@b4commerce.com.br",
     * "fone": "4132733134",
     * "fone2": "41996381828",
     * "url_google_maps": "google maps",
     * "url_video_youtube": "video youtube",
     * "possui_estacionamento": "sim",
     * "horario_atendimento": "1 a 2",
     * "slogan": "nao tem",
     * "status": 1
     * }
     * ````
     *
     *
     * **Resposta
     *
     * | HTTP Status Code | Descricao | Resposta | json |
     * |------|-----------|----------|------------- |
     * | 200| Filial atualizada com sucesso | mensagem | {"filial atualizada com sucesso"}|
     * | 404 | Filial não cadatrada cadastrada | mensagem | {"filial não cadastrada"} |
     * | 500 | Erro desconhecido.  | mensagem | {"erro deconhecido contate o suporte: suporte@b4commerce.
     * com.br"} |
     *
     * @param AtualizarFilialRequest $body
     *
     * @return AtualizarFilial Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function atualizarFilial(AtualizarFilialRequest $body): AtualizarFilial
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/filiais/123')->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(AtualizarFilial::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
