<?php

declare(strict_types=1);

/*
 * ApiB4CLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ApiB4CLib\Controllers;

use ApiB4CLib\Exceptions\ApiException;
use ApiB4CLib\Models\AtualizarObservaORequest;
use ApiB4CLib\Models\NewRequest;
use Core\Request\Parameters\BodyParam;
use CoreInterfaces\Core\Request\RequestMethod;

class ObservaEsPedidosController extends BaseController
{
    /**
     * @param AtualizarObservaORequest $body
     *
     * @return NewRequest Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function atualizarObservaO(AtualizarObservaORequest $body): NewRequest
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/pedidos-observacoes/763426')
            ->auth('basic')
            ->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(NewRequest::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
